.entry-content{
	margin:0!important;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.icon-small{
	display: block;
	margin-left: auto;
    margin-right: auto;
	max-width: 170px;
    max-height: 120px;
}
.text-center{
	text-align: center;
}
.header-container{
	position: relative;
    height: 70vh;
    width: 100%;
    background-color: #16a085;
    opacity: 1;
	z-index: 10;
	top: -41px;
}
.title-center{
	display: inline-table;
    width: 100%;
    height: 100%;
}
.header-title{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
	padding-top: 140px;
}
.header-title{
	font-weight: bold;
	text-align: center;
	color: #fff;
	font-size: 100px;
	text-shadow: (rgba(0, 0, 0, 0.2) 10px 10px 0px);
}
.header-title span{
    padding-right: 10px;
    padding-left: 10px;
	width: 20px;
}
#center {
	position: absolute;
	top: 15%;
	left: 0;
	right: 0;
    width: 50%;
    margin: 0 auto;
	z-index: -1;
    
	
}
#center img{
	display: block;
	max-width: 120px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.h1-container {
	width: 500px;
	margin: 0 auto;
}
.h1-container h1{
	font-weight: 400;
	line-height: 30px!important;
	font-family: 'Raleway', sans-serif;
}
.page-container{
	margin:0;
}

.logo{
	-webkit-filter: invert(100%);
}
.moving-text{
	font-family: 'Raleway';
	padding-right: 15px;
	text-transform: uppercase;
}
.section-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
	margin-bottom: 80px;
}
.dekoracija {
	max-width: 780px;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}
.line-left {
	width: 250px;
	background: #383a35;
	height: 5px;
}
.line-right {
	width: 250px;
	background: #383a35;
	height: 5px;
}
h2 {
	font-size: 40px;
	font-weight: 700!important;
	color: #383a35;
	margin: 0;
	text-align: center;
}
.about-us {
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	color: #383a35;
	text-align: center;
	width: 510px;
	margin: 20px 0 40px;
	line-height: 30px;
}
.more-info {
	background: transparent!important;
	border: 2px solid #50E3C2;
	border-radius: 20px;
	width: 100px;
	height: 40px;
	transition: .2s all ease;
}
.more-info a{
	text-decoration: none;
	color: #383a35;
}
.more-info:hover{
	background-color: #50E3C2!important;

<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
}
.more-info:hover a{
	color: #000000;
}
.text-center{
	text-align: center;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
=======
}
.more-info:hover a{
	color: #000000;
>>>>>>> Stashed changes
=======
}
.more-info:hover a{
	color: #000000;
>>>>>>> Stashed changes
=======
}
.more-info:hover a{
	color: #000000;
>>>>>>> Stashed changes
}
span:nth-child(5) {
    z-index: -1;
    position: relative;
}
.btn-more{
    border-radius: 2px!important;
	background: #f76200;
}
.btn-more:hover{
	background: #f72200;
}
.btn-more a{
	color: #fff;
}
.margin-t-20{
    margin-top: 40px;
}
.is_indent{
    opacity: .9;
}
.fonas{
    background-color: #dee8ef;
}
.fonas .container h2{
    margin-top:60px;
}
.container{
    background: transparent!important;
}
.products{
    margin-top:60px!important;
    margin-bottom: 3em!important;
}
.product-type-simple {
    background: #fff;
    border-radius: 5px;
    border:1px solid #e1e1e1;
}
.product-type-simple:hover{
    border:1px solid #f76200;
    border-radius: 5px;
}
.how-to {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}
.how-it-works h2{
    margin-top: 40px!important;
    margin-bottom: 40px!important;
}
.text-decoration{
	display:flex;
	align-items:center;
	justify-content: center;
}
.text-decoration:before {
    content: "";
    display: block;
    background: #383a35;
    height: 5px;
    width: 20%;
	margin-right: 20px;
}
.text-decoration:after {
    content: "";
    display: block;
    background: #383a35;
    height: 5px;
    width: 20%;
	margin-left: 20px;
}
td.label {
    float: none!important;
}
.woocommerce div.product form.cart .variations label{
	font-size:14pt;
}
span.woocommerce-Price-amount.amount {
    color: red;
}
.product-type-variable {
	background: #fff;
	border: 1px solid transparent;
	border-radius: 5px;
	transition: .2s all ease;
}
.product-type-variable:hover {
	border: 1px solid #f76200;
}
.summary.entry-summary {
	width: 50%!important;

}
.woocommerce-tabs.wc-tabs-wrapper {
	display: none;
}